@use '../../styles/variables.scss' as vs;
@use '../../styles/mixin.scss' as mi;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .container-body {
    flex: 1 1 0;
    overflow-y: hidden;
  }
}