@use '../../styles/variables.scss' as vs;
// @use '../../styles/mixin.scss' as mi;

.nav {
  line-height: 44px;
  display: flex;
  .nav-item {
    width: 25%;
    text-align: center;
  }
  .nav-text {
    color: vs.$color-theme;
    padding-bottom: 5px;
  }
  .nav-active {
    border-bottom: 2px solid vs.$color-theme;
  }
}